﻿@model CustomerContactApplication.Models.AdminPanelModel

@section head {
    @Scripts.Render("~/bundle/jquery_js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
}

<script>
    $(document).ready(function () {
       $('#newUser').validate(
       {
           rules: {
               Username: {
                   minlength: 4,
                   maxlength: 100,
                   required: true
               },
              Password: {
                   maxlength: 500,
                   required: true
               },
               PasswordAgain: {
                   maxlength: 500,
                   required: true
               }
           },
           highlight: function (element) {
               $(element).closest('.control-group').removeClass('success').addClass('error');
               $(element).addClass('error-input');
           },
           unhighlight: function (element) {
               $(element).removeClass('error-input');
           },
           errorPlacement: function (error, element) {
               error.insertBefore(element);
           }
       });

       $('#newQuestion').validate(
      {
          rules: {
              Description: {
                  maxlength: 500,
                  required: true
              }
          },
          highlight: function (element) {
              $(element).closest('.control-group').removeClass('success').addClass('error');
              $(element).addClass('error-input');
          },
          unhighlight: function (element) {
              $(element).removeClass('error-input');
          },
          errorPlacement: function (error, element) {
              error.insertBefore(element);
          }
      });
    });
</script>

@{ if (ViewBag.Success == true)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Data has been submitted successfully
        </div>
    }
    else if (!Model.ErrorMessage.IsEmpty())
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error:</strong> @Model.ErrorMessage
        </div>
    }
}

<div class="wrapper">
    <div class="blockFloatLeft">
        <fieldset>
        @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { @id = "newUser" }))
        {
            @Html.AntiForgeryToken()
            <legend>Create a new user</legend>
            <p>Username</p>
            @Html.TextBoxFor(x => x.Username)
            <p>Password</p><div class="optional">(Password must be at least 8 characters long and must contain at least one number)</div>
            @Html.TextBoxFor(x => x.Password, new { @type = "password" })
            <p>Re-enter password</p>
            @Html.TextBoxFor(x => x.PasswordAgain, new { @type = "password" })
            <input type="submit" class="buttonClass floatRight" typeof="button" value="Add" />
        }
        </fieldset>
    </div>
    <div class="blockFloatRight">
        <fieldset>
        @using (Html.BeginForm("CreateQuestion", "Admin", FormMethod.Post, new { @id = "newQuestion" }))
        {
            @Html.AntiForgeryToken()
            <legend>Create a new survey question</legend>
            <p>Question</p>
            @Html.TextBoxFor(x => x.Description)
            <input type="submit" class="buttonClass floatRight" typeof="button" value="Add" />
        }
        </fieldset>
    </div>
</div>
<div>
    <fieldset>
            <legend>Survey statistics</legend>
            <p>Questions: <font color="black">@Model.QuestionCount</font></p>
            <p>Answers: <font color="black">@Model.AnswerCount</font></p>
    </fieldset>
</div>