﻿
@{
    Layout = null;
}

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error!</title>
    @Styles.Render("~/bundle/login_css")
</head>
<body>
        <div class="screenCentre" id="error">
            <center><img id="errorImage" src="~/Content/images/no-results.png" /></center>
        </div>
</body>
</html>