﻿@using System.Web.Optimization;
@model CustomerContactApplication.Models.UserDataModel

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    @Styles.Render("~/bundle/login_css")
</head>
<body>
@using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    <div class="screenCentre">
        <div class="login-screen">
            <div class="login-form">
                <div class="control-group">
                    @Html.TextBoxFor(x => x.username, new { @id = "login-name", @placeholder = "username", @class = "login-field" })
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="control-group">
                    @Html.TextBoxFor(x => x.password, new { @id = "login-pass", @type = "password", @placeholder = "password", @class = "login-field" })
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                <input type="submit" class="btn btn-primary btn-large btn-block" typeof="button" value="Login" />
                @if (ViewBag.FailedLogin == true)
                {
                    <br />
                    <div class="failedLogin">This user/password combination does not exist</div>
                }
            </div>
        </div>
    </div>
}
</body>
</html>