body {
    font-family: 'Inder-Regular', sans-serif;
    background-color: #FFF;
    padding: 50px;
}

* {
    box-sizing: border-box;
}

*:focus {
	outline: none;
}

.screenCentre {
    width: 300px;
    position:absolute;
    left:50%;
    top:35%;
    margin-left:-150px; 
    margin-top:-10px; 
    border-style: solid;
    border-color: #f7b800;
    border-width: 0.5px;
}

#errorImage{
    height: 250px;
    width: 250px;
}

#error{
    border:none;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
        border: 2px solid #f7b800;
        box-shadow: none;
    }

.btn {
    border: 2px solid transparent;
    background: #f7b800;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover{
    cursor: pointer; 
}

.failedLogin{
    color:red;
    font-size:10px;
    font-family:Arial;
}

@font-face {
    font-family: 'Inder-Regular';
    src: url('/Content/Fonts/Inder-Regular.otf') format('opentype');
}

