﻿* {margin:0;padding:0;}

html, body { 
    margin: 0; 
    padding: 0;  
    height:100%;
}

html {
    background: #FFFFFF;
    overflow-y: scroll;
}

body {
    min-width: 920px;
    font-family: 'Inder-Regular', sans-serif;
    margin: 0;
    font-size: 13px;
    color: #4290db;
}

#header-container{
    background-color: #d1020e;
}

#header {
	width: 920px;
	height: 70px;
	margin: auto;
	padding: 0px;
}

#content {
	width: 920px;
	margin: 0 auto;
	padding-bottom: 70px;
    display:block;	
}

#content p {
	line-height: 130%;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
	text-align: center;	
	border-top: 1px solid #aaaaaa;
	background: #e8e8e8;
    padding-top:15px;
}

#footer p {
	color: #666666;
}

#footerfix {
   min-height:100%;
   position:relative;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 12px;
}


fieldset {
   width:100%;
   border: none;
   display: inline-block;
}

legend {
  width:100%;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.4em;
  line-height: 150%;
  color: #114679
}

.validation {
    font-weight: bold;
    color: red;
}

.validation-summary-valid
{
    display: none;
}

#headerImage {
    margin:auto;
    float:left;
    padding-top: 20px;
}

#headerMenu {
    width: 920px;
	margin: 0 auto;
    display:block;
    height: 30px;
    margin-top: 8px;
    margin-bottom:20px;
}

.headerMenuItem{
    color: #d1020e;
    background: #f2f2f2;
    text-decoration: none;
    padding: 5px;
    margin-right: 8px;
}

a.headerMenuItem:hover{
    color: #3366ff;
	text-decoration: none !important;
}

.buttonClass {
  padding: 9px 29px 8px 29px;
  margin-bottom: 15px;
  color: #FFFFFF;
  background-color: #f7b800;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 200px;
  border: 1px solid #f28c00;
  border-width: 1px 1px 3px;
  cursor: pointer;
}

.displayInLine{
    display:inline-block;
}

#searchDropDown{
    width:120px;
}

#searchString{
    width:790px;
}

.floatRight{
    float:right;
}

.blockFloatLeft{
    float: left;
    width: 400px;
    padding-left:5px;
}

.blockFloatRight{
    float: right;
    width: 400px;
    padding-right:5px;
}

.customerSurvey{
    margin-top: 30px;
}

.wrapper{
    overflow: hidden;
}

#monthOfBirth{
    width:130px;
    margin-right:20px;
}
#dayOfBirth{
    width:70px;
    margin-right:20px;
}
#yearOfBirth{
    width:145px;
}

.surveyAnswer{
    font-style: italic;
    color: black;
}

.optional{
    font-style: italic;
    color: black;
    font-size: 10px;
    display: inline;
}

.customerData{
    color: black;
}

#deleteCustomer{
    padding:5px 0;
    width: 120px;
    margin-top:40px;
    font-size:11px;
}

.error{
    color:#FF0000 !important;
    font-size: 11px;
}

.error-input{
    outline: none !important;
    border-color: #FF0000 !important;
    box-shadow: 0 0 10px #FF0000 !important;
    border-radius:4px;
}

.alert{
    padding: 8px !important;
}

.close{
    font-size: 15px;
}

@font-face {
    font-family: 'Inder-Regular';
    src: url('/Content/Fonts/Inder-Regular.otf') format('opentype');
}

