﻿@using System.Web.Optimization;

@section head {
    @Styles.Render("~/bundle/table_css")
    @Scripts.Render("~/bundle/jquery_js")
}

<script>
    $(document).ready(function () {
        $('#search').click(function (e) {
            var searchOption = "/Home/SearchBy" + $('#searchDropDown').val();
            $("#tableContent").hide();
            $(".clickable-row").remove();
            $("#sadFace").remove();
            $('#search').hide();
            $("#tableContent").before('<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>');
            e.preventDefault(); 
            var element = this;
            $.ajax({
                url: searchOption,
                type: "POST",
                data: { 'searchString': $('#searchString').val() },
                dataType: "json",
                success: function (data) {
                    if (data.length == 0) {
                        $(".spinner").remove();
                        $("#sadFace").remove();
                        $("#tableContent").before('<center id="sadFace"><img src="../Content/Images/no-results.png" alt="Smiley face" height="150" width="150" /></center>');
                        $('#search').show();
                    } else {
                        setTimeout(function () {
                            $(".spinner").remove();
                            for (i = 0; i < data.length; i++) {
                                $('#searchTable tr:last').after('<tr class="clickable-row"><td id="customerId" style="display:none;">' + data[i].CustomerId + '</td><td>' + data[i].FirstName + '</td><td>' + data[i].Surname + '</td><td>' + data[i].Email + '</td></tr>');
                            }
                            $(".clickable-row").click(function () {
                                var customerId = $(this).closest("tr")
                                           .find("#customerId")
                                           .text();

                                window.location.href = '/Home/ViewCustomerData/' + customerId;
                            });
                            $("#tableContent").slideDown('fast');
                            $('#search').show();
                        }, 1500);
                    }
                },
                error: function () {
                    $(".spinner").remove();
                    $("#tableContent").before('<center id="sadFace"><img src="../Content/Images/no-results.png" alt="Smiley face" height="150" width="150" /></center>');
                    $('#search').show();
                }
            });
        });
    });
</script>

<fieldset>
    <legend>Find a customer by:</legend>
    <select class="displayInLine" id="searchDropDown">
        <option value="Surname" selected="selected">Surname</option>
        <option value="Email">Email</option>
    </select>
    <input class="displayInLine" type="text" id="searchString" name="Surname">
    <input type="submit" id="search" class="buttonClass" typeof="button" value="Find" />
</fieldset>
<div id="tableContent" style="display:none;">
    <table id ="searchTable" cellspacing='0'>
        <tr><th style="display:none;">id</th><th>First name</th><th>Surname</th><th>Email</th></tr>
    </table>
</div>
