﻿@model CustomerContactApplication.Models.SubmitDataModel

@section head {
    @Scripts.Render("~/bundle/jquery_js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
}

<script>
    $.validator.setDefaults({ ignore: '' });
    jQuery.validator.addMethod("dateOfBirthIsValid", function (value, element) {
        var dob = $('#dateOfBirthHidden').val();
        var year = dob.split("-");
        var reg = new RegExp('^[0-9]+$');
        return moment(dob, "YYYY-MM-DD").isValid() && year[0] > 1800 && year[0] < 9999 && reg.test(year[0]) && reg.test(year[2]) && year[2] < 32 && year[2] > 0;
    }, "This date of birth is not valid");

    $(document).ready(function () {
       $('#customerData').validate(
       {
           rules: {
               FirstName: {
                   maxlength: 500,
                   required: true
               },
               Surname: {
                   maxlength: 500,
                   required: true
               },
               Email: {
                   maxlength: 500,
                   required: true
               },
               HomePhoneNumber: {
                   maxlength: 500,
                   required: true
               },
               MobilePhoneNumber: {
                   maxlength: 500,
               },
               AddressLine1: {
                   maxlength: 500,
                   required: true
               },
               AddressLine2: {
                   maxlength: 500,
               },
               Postcode: {
                   maxlength: 500,
                   required: true
               },
               City: {
                   maxlength: 500,
                   required: true
               },
               Country: {
                   maxlength: 500,
                   required: true
               },
               DateOfBirth: {
                   dateOfBirthIsValid: true
               }
           },
           highlight: function (element) {
               $(element).closest('.control-group').removeClass('success').addClass('error');
               $(element).addClass('error-input');
           },
           unhighlight: function (element) {
               $(element).removeClass('error-input');
           },
           errorPlacement: function (error, element) {
               error.insertBefore(element);
           }
       });

       $(".buttonClass").click(function () {
           var dateOfBirth = $('#yearOfBirth').val() + '-' + $('#monthOfBirth').val() + '-' + $('#dayOfBirth').val();
           $('#dateOfBirthHidden').val(dateOfBirth);
       });
    });
</script>
@{ if (ViewBag.Success == true)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Data has been submitted successfully
        </div>
    }
    else if (!Model.ErrorMessage.IsEmpty())
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error:</strong> @Model.ErrorMessage
        </div>
    }
}

@using (Html.BeginForm("Submit", "Home", FormMethod.Post, new { @id = "customerData" }))
{
    @Html.AntiForgeryToken()
<div class="wrapper">
    <div class="blockFloatLeft">
        <fieldset>
            <legend>Customer details</legend>
            <p>First name</p>
            @Html.TextBoxFor(x => x.FirstName, new { @id = "firstName" })
            <p>Surname</p>
            @Html.TextBoxFor(x => x.Surname, new { @id = "surname" })
            <p>Date of birth</p>
            <select id="monthOfBirth" class="displayInLine">
                <option value="" disabled selected hidden>Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <input id="dayOfBirth" name ="DayOfBirth" class="displayInLine" type="text" placeholder="Day" />
            <input id="yearOfBirth" class="displayInLine" type="text" placeholder="Year" />
            @Html.HiddenFor(x => x.DateOfBirth, new { @id = "dateOfBirthHidden" })
            <p>Home phone number</p>
            @Html.TextBoxFor(x => x.HomePhoneNumber, new { @id = "homePhoneNumber" })
            <p>Mobile phone number</p> <div class="optional">(Optional)</div>
            @Html.TextBoxFor(x => x.MobilePhoneNumber, new { @id = "mobilePhoneNumber" })
            <p>Email address</p>
            @Html.TextBoxFor(x => x.Email, new { @id = "email" })
        </fieldset>
    </div>
    <div class="blockFloatRight">
        <fieldset>
            <legend>Customer address</legend>
            <p>Address line 1</p>
            @Html.TextBoxFor(x => x.AddressLine1, new { @id = "addressLine1" })
            <p>Address line 2</p><div class="optional">(Optional)</div>
            @Html.TextBoxFor(x => x.AddressLine2, new { @id = "addressLine2" })
            <p>City</p>
            @Html.TextBoxFor(x => x.City, new { @id = "city" })
            <p>Postcode</p>
            @Html.TextBoxFor(x => x.Postcode, new { @id = "postcode" })
            <p>Country</p>
            @Html.TextBoxFor(x => x.Country, new { @id = "country" })
        </fieldset>
    </div>
</div>
<div class="customerSurvey">
    <fieldset>
        <legend>Please fill out a short survey on behalf of the customer</legend>
        @for (int i = 0; i < Model.SurveyQuestions.Count(); i++)
        {
            <p>@Model.SurveyQuestions[i].questionDescription</p>
            @Html.TextBoxFor(x => x.SurveyQuestions[i].answerDescription)
            @Html.HiddenFor(x => x.SurveyQuestions[i].questionId)
            @Html.HiddenFor(x => x.SurveyQuestions[i].questionDescription)
        }
        <center><input type="submit" class="buttonClass" typeof="button" value="Submit" /></center>
    </fieldset>
</div>
}
