﻿@model CustomerContactApplication.Models.CustomerDataModel

@section head {
    @Scripts.Render("~/bundle/jquery_js")
}

<div class="wrapper">
    <div class="blockFloatLeft">
        <fieldset>
            <legend>Customer details</legend>
            <p>First name: <div class="customerData">@Model.Customer.FirstName</div></p>
            <p>Surname: <div class="customerData">@Model.Customer.Surname</div></p>
            <p>Date of birth: <div class="customerData">@Model.Customer.DateOfBirth</div></p>
            <p>Home phone number: <div class="customerData">@Model.Customer.HomePhoneNumber</div></p>
            <p>Mobile phone number: <div class="customerData">@Model.Customer.MobilePhoneNumber</div></p>
            <p>Email address: <div class="customerData">@Model.Customer.Email</div></p>
        </fieldset>
    </div>
    <div class="blockFloatRight">
        <fieldset>
            <legend>Customer address</legend>
            <p>Address line 1: <div class="customerData">@Model.Address.AddressLine1</div></p>
            <p>Address line 2: <div class="customerData">@Model.Address.AddressLine2</div></p>
            <p>City: <div class="customerData">@Model.Address.City</div></p>
            <p>Postcode: <div class="customerData">@Model.Address.Postcode</div></p>
            <p>Country: <div class="customerData">@Model.Address.Country</div></p>
        </fieldset>
    </div>
</div>
<div class="customerSurvey">
    <fieldset>
        <legend>Survey questions</legend>
        @for (int i = 0; i < Model.SurveyQuestions.Count(); i++)
        {
            <p>@Model.SurveyQuestions[i].questionDescription</p>
            <div class="surveyAnswer">@Model.SurveyQuestions[i].answerDescription</div>
            <br />
        }
        @if(Model.SurveyQuestions.Count() == 0)
        {
            <div class="surveyAnswer">No answers have been provided</div>
        }
    </fieldset>
    @using (Html.BeginForm("DeleteCustomer", "Home", FormMethod.Post))
    {
        @Html.Hidden("id", Model.Customer.CustomerId.ToString())
        <input type="submit" class="buttonClass" id="deleteCustomer" typeof="button" value="Delete this customer" />
    }
</div>


