﻿@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    @Styles.Render("~/bundle/site_css")
    @RenderSection("head", false)

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Contact Application</title>
</head>
<body>
    <div id="footerfix">
        <!-- Header -->
        <div id="header-container">
            <div id="header">
                <div id="headerImage">
                    <a href="/"><img id="site-logo" src="~/Content/Images/header.png" /></a>
                </div>
            </div>
        </div>
        <div id="headerMenu">
            <a class="headerMenuItem" href="~/Home/Submit">Submit data</a>
            <a class="headerMenuItem" href="~/Home/Search">Search</a>
            <div class="floatRight">
                <a class="headerMenuItem" href="~/Admin/Panel">Admin</a>
                <a class="headerMenuItem" href="~/Home/Logout">Log out</a>
            </div>
        </div>
        <!-- Render body -->
        <div id="content">
            @RenderBody()
        </div>

        <div id="footer">
            <p>(с) Dean Ryan 2015</p>
        </div>
    </div>
</body>
</html>

@*Transport graphic by <a href="http://www.freepik.com">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>*@